footer {
  padding:  0.5vmax;
  display: flex;
  background-color: #2D2520;
  color: white;
  margin-top: auto;
  align-items: center;
}

.midFooter {
  width: 310px;
  text-align: center;
  margin:  1px auto;
}

/* .midFooter > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: inline-block;
  white-space: nowrap;
  margin: 2% auto;
} */

.copyRight{
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  white-space: nowrap;
}

.midFooter > div {
  margin-top: 2%;
  display: flex;
  justify-content: space-evenly;
}

.midFooter >div > a >*{
  border: 1px solid white;
  border-radius: 50%;
  padding: 15%;
  width: 1.2em !important;
  height: 1.2em !important;
  color:  #ded7d3;
}

.midFooter >div > a>*:hover{
  box-shadow: 0 0 10px rgb(249, 247, 247); 
}

@media screen and (max-width: 600px){
  .midFooter{
    width: 150px;
    margin: 1px auto;
  }
  .midFooter > div>a>*{
    padding: 7%;
    width: 0.7em !important;
    height: 0.7em !important;
  }
  .midFooter > p {
    font-size: small;
    white-space: wrap;
  }
}